

.label{
	-fx-font-family:"Broadway";
	-fx-text-fill: black;
	-fx-base: mintcream;
	-fx-font-size: 10;
	
}

GridPane{
	-fx-pref-width:600;
	-fx-pref-height:353;
	-fx-background-color: skyblue , derive( #C4E78D, 25%);
	-fx-background-insets: -10, 0;
	-fx-effect: dropshadow(three-pass-box, #000000, 10.0, 0, 0, 0);
}
#hbox1{
	-fx-pref-width:200;
	-fx-pref-height:100;
	-fx-spacing: 100;
	
	
}
.text-field{
	-fx-border-width:3px;
	-fx-border-radius:25px;
	-fx-background-radius:25px;
	-fx-pref-column-count:25;
}

#hbox2{
	-fx-pref-width:200;
	-fx-pref-height:100;
	-fx-spacing: 20;
}
#hbox3{
	-fx-pref-width:200;
	-fx-pref-height:100;
	-fx-spacing: 20;
}
#hbox4{
	-fx-pref-width:200;
	-fx-pref-height:100;
	-fx-spacing: 10;
}

.combo-box{
	-fx-background-color: 
       
        rgba(0,0,0,0.05),
        linear-gradient(#dcca8a, #c7a740),
        linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%),
        linear-gradient(#f6ebbe, #e6c34d);
    -fx-background-insets: 0,9 9 8 9,9,10,11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}


/*Change cells of autocomplete popup*/
.combo-box .list-cell:hover {
    -fx-background-color: #5f68ff;
}
/*Change cells of combobox*/
.combo-box .list-cell {
    -fx-background-color: 
       
        rgba(0,0,0,0.05),
        linear-gradient(#dcca8a, #c7a740),
        linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%),
        linear-gradient(#f6ebbe, #e6c34d);
}